<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/home">Go To Home</a>
    <% if(locals.user){%>
    <p><%= locals.user.name %></p>
    <a href="/logout">Log Out</a>
    <%}else{%>
    <p>Unknow User</p>
    <a href="/signin">Sign In</a>
    <%}%>
  </body>
</html>
